# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy==1.17.3
pandas
scikit-learn

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor

# wrnch
Pillow==6.2.0
opencv-python==4.1.0.25
wrcloud-1.1.0-py3-none-any.whl
